<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="cprovNamespacePrefixMapper" class="com.provenance.cloudprovenance.traceabilitystore.ns.CprovNamespacePrefixMapper">
		<property name="nsSuffixCprov" value="http://labs.orange.com/uk/cprov#" />
		<property name="nsSuffixProv" value="http://www.w3.org/ns/prov#" />
		<property name="nsSuffixCprovl" value="http://labs.orange.com/uk/cprovl#" />
		<property name="nsSuffixCProvd" value="http://labs.orange.com/uk/cprovd#" />
		<property name="nsSuffixR" value="http://labs.orange.com/uk/r#" />
		<property name="nsSuffixEx" value="http://labs.orange.com/uk/ex#" />
		<property name="nsSuffixCu" value="http://www.w3.org/1999/xhtml/datatypes/" />
		<property name="nsSuffixCOnfidenshare" value="http://labs.orange.com/uk/confidenshare#" />
	</bean>
</beans>