<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

	<!-- Event handler -->
	<bean id="traceabilityConverter"
		class="com.provenance.cloudprovenance.converter.resource.TraceabilityConverter">
		<property name="instanceDir"
			value="com.provenance.cloudprovenance.traceabilityModel.generated" />
	</bean>

	<!-- Activemq connection factory -->
	<bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<constructor-arg index="0" value="tcp://localhost:61616" />

		<!-- <property name="brokerURL"> <value>tcp://localhost:61617</value> </property> -->
	</bean>

	<!-- ConnectionFactory Definition -->
	<bean id="connectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="amqConnectionFactory" />

	</bean>

	<!-- Default Destination Queue Definition -->
	<bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<!-- <constructor-arg index="0" value="${jms.queue.name}"/> -->
		<constructor-arg index="0" value="traceabilityQueue" />

	</bean>

	<bean id="defaultDestination1" class="org.apache.activemq.command.ActiveMQQueue">
		<!-- <constructor-arg index="0" value="${jms.queue.name}"/> -->
		<constructor-arg index="0" value="enforcementQueue" />
	</bean>


	<!-- JmsTemplate Definition -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="defaultDestination" />

	</bean>

	<bean id="jmsTemplate1" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="defaultDestination1" />
	</bean>

	<!-- Message Sender Definition -->
	<bean id="eventProducer"
		class="com.provenance.cloudprovenance.eventhandler.service.EventProducer">
		<constructor-arg index="0" ref="jmsTemplate" />
		<constructor-arg index="1" ref="traceabilityConverter" />
		<property name="queueName" value="traceabilityQueue" />
		<property name="responsePolicyQueueName" value="enforcementResponseQueue" />
		<property name="responseTraceabilityQueueName" value="traceabilityResponseQueue" />
		<property name="traceabilityStoreStorageAck" value="true" />
	</bean>

	<!-- Message Sender Definition -->

	<bean id="eventProducer1"
		class="com.provenance.cloudprovenance.eventhandler.service.EventProducer">
		<constructor-arg index="0" ref="jmsTemplate1" />
		<constructor-arg index="1" ref="traceabilityConverter" />
		<property name="queueName" value="enforcementQueue" />
	</bean>
</beans>
	
	