body {
	background-color:black;
	color:#FFFFFF;
	/*
	color:#FFFFFF;
	*/
}

div {
	display: block;
}

a:link { /* unvisited link */
	text-decoration:underline;
	color:#6698FF;
	/*
	color:#ff9900;
	*/
}      
a:visited {  /* visited link */
	color:#6698FF;
	/*
	color:#ff9900;
	*/
} 
a:hover { /* mouse over link */
	text-decoration:none;
	color:#6698FF;
	/*
	color:#ff9900;
	*/
}  
a:active { /* selected link */
	text-decoration:none;
	color:#6698FF;
	/*
	color:#ff9900;
	*/
}  

#content{ 
	margin: 1em auto;
	width: 40%;
	min-width:15em;
	padding: 1em;
	text-align: left;
}

#content h2{	
	margin-bottom:0;
	padding-bottom:0;
	color:black;
	background-color:#82CAFF;
	/*
	background-color:#ff6600;
	*/
}

#myfiles{
	padding: 0.5em;
	border: 3px solid #82CAFF;
	/*
	border: 3px solid #ff6600;
	*/
}

.error{
	color:#FF0000;
}
