<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/classes/beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<display-name>CXF Servlet</display-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

<!-- 
 <servlet>
        <servlet-name>restMapping</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

-->

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/traceabilityDocument/*</url-pattern>
	</servlet-mapping>
	
	
<!-- 	
    <servlet-mapping>
        <servlet-name>restMapping</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	
-->	
	
</web-app>